@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
:root {
  /* Primary colours */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  /* Neutral colours */
  --very-dark-blue-main: hsl(217, 54%, 11%); /*(main BG)*/
  --very-dark-blue-card: hsl(216, 50%, 16%); /*(card BG)*/
  --very-dark-blue-line: hsl(215, 32%, 27%); /*(line)*/
  --white: hsl(0, 0%, 100%);
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  background-color: var(--very-dark-blue-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: var(--very-dark-blue-card);
  height: 600px;
  width: 350px;
  margin-top: 100px;
  padding: 25px;
  border-radius: 10px;
}
.nft-details {
  display: flex;
  flex-direction: column;
}
.nft-img {
  position: absolute;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  transition: 0.3s ease;
}
.overlay {
  height: 300px;
  width: 300px;
  background: var(--cyan);
  color: var(--white);
  border-radius: 10px;
  opacity: 0;
}
.eye {
  cursor: pointer;
  margin-top: 43%;
  margin-left: 43%;
}
.overlay:hover {
  opacity: 0.5;
}
.nft-name {
  color: var(--white);
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.nft-name:hover {
  color: var(--cyan);
  cursor: pointer;
}
.nft-description {
  color: var(--soft-blue);
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 20px;
}
.sale-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--very-dark-blue-line);
}
.eth-amount {
  color: var(--cyan);
  margin-left: 4px;
  font-size: 1rem;
  letter-spacing: 1px;
}
.time {
  display: flex;
  text-align: center;
  justify-content: center;
}
.time-left {
  color: var(--soft-blue);
  font-size: 1rem;
  margin-left: 4px;
}
.author-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}
.author-img {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  border: 1px solid var(--white);
  margin-right: 15px;
}
.author-details p {
  color: var(--soft-blue);
}
.author-details span {
  color: var(--white);
  font-weight: 300;
}
.author-details span:hover {
  color: var(--cyan);
  cursor: pointer;
}
.attribution {
  margin-top: 5px;
  font-size: 11px;
  text-align: center;
}
.attribution {
  color: var(--soft-blue);
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (max-width: 678px) {
  .container {
    margin: 60px 0 5px 0;
    padding: 20px;
    height: 660px;
    width: 85%;
  }
  .nft-img-container {
    display: flex;
    justify-content: center;
  }
  .nft-img {
    border-radius: 10px;
    height: 280px;
    width: 280px;
  }
  .overlay {
    height: 280px;
    width: 280px;
  }`
  .nft-name {
    font-size: 1.3rem;
  }
  .nft-description {
    font-size: 1.1rem;
  }
  .sale-details {
    font-size: 0.9rem;
    padding-bottom: 15px;
  }
}
